footer {
    background: #f3f3f3;
    margin-top: 3rem;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .logo-font {
    vertical-align: middle;
}

.logo-font {
    font-family: titillium web,sans-serif;
}