<div>
    <div class="w-50 mx-auto my-5 text-center">
        <h2>Log In</h2>
        <a href="javascript:void(0)" [routerLink]="['/signup']">Need an Account</a>
    <form class="mt-5">
        <fieldset>
            <fieldset class="form-group">
                <input class="form-control" formcontrolname="email" placeholder="Email" type="text">
            </fieldset>
            <fieldset class="form-group">
                <input class="form-control" formcontrolname="password" placeholder="Password" type="password">
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit"> Log In </button>
        </fieldset>
    </form>    
    </div>
    </div>